.dayDuration {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 5px 25px -3px #b4b4b440;
  grid-area: day-duration;

  h3 {
    color: rgb(71, 156, 121);
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: 500;
  }

  p {
    display: flex;
    column-gap: 15px;
    margin: 0;
    align-items: center;

    img {
      width: 35px;
      height: 35px;
    }
  }
}

@media screen and (max-width: 1075px) {
  .dayDuration {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
    
    h3 {
      margin: 0;
      align-self: center;
    }
  }
}