.main {
  display: grid;
  grid-template-areas: 
  "current-weather weather-additions day-duration"
  "forecast forecast forecast";
  padding: 20px 30px;
  justify-content: space-between;
  gap: 30px;
  max-width: 1280px;
}