.currentWeather {
  display: grid;
  grid-template-areas: 
  "place icon temperature"
  "date icon temperature"
  "time icon temperature"
  "cloudiness feelings feelings";
  grid-area: current-weather;
  column-gap: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 5px 25px -3px #B4B4B440;

  p {
    margin: 0;
  }
}

.place {
  grid-area: place;
  margin: 0;

  color: rgb(71, 156, 121);
  font-size: 28px;
  font-weight: 600;
}

.date {
  grid-area: date;
}

.time {
  grid-area: time;
}

.icon {
  grid-area: icon;
  height: 100px;
}

.temperature {
  grid-area: temperature;
  height: 100%;

  font-size: 70px;
  color: rgb(71, 156, 121);
}

.cloudiness {
  grid-area: cloudiness;
}

.feelings {
  grid-area: feelings;

  color: var(--components-text);
}