header {
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
}

.logoAndTitle {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 70px;
  height: 70px;
}

.title {
  margin: 0;

  font-weight: 700;
  text-transform: uppercase;
  font-size: 25px;
  color: rgb(71, 156, 121);
}

input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 25px;
  width: 200px;
  height: 28px;
  border-radius: 10px;
  background-color: var(--input-and-toggle);

  font-size: 14px;
  color: var(--input-text);

  cursor: pointer;

  // &:focus {
  //   // border: 1px solid rgba(0, 0, 0, .2);
  // }
  &::-webkit-input-placeholder {
    color: var(--input-text);
  }

  &::-moz-placeholder {
    color: var(--input-text);
  }
}

.themeToggleBlock {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
  }
}

.themeToggle {
  display: flex;

  outline: 1px solid rgb(120, 199, 183);
  border: none;
  border-radius: 18px;
  width: 50px;
  height: 28px;
  padding: 0;
  background-color: var(--input-and-toggle);

  cursor: pointer;

  div {
    border-radius: 28px;
    width: 28px;
    height: 28px;
    background-color: rgb(120, 199, 183);
  }

  // &::before {
  //   position: absolute;
  //   // top: 0;
  //   // left: 5px;

  //   content: "";
  //   background-image: url('../../img/sun.svg');
  //   width: 28px;
  //   height: 28px;
  // }
}

.themeToggle_theme_light {
  justify-content: flex-start;
}

.themeToggle_theme_dark {
  justify-content: flex-end;
}

// .searchBlock {
//   position: relative;
// }

// .searchButton {
//   position: absolute;
//   z-index: 1;
//   top: 7px;
//   left: 5px;

//   margin: 0;
//   padding: 0;
//   background-image: url(../../img/search.svg);

//   border: 0;
// }
