.weatherAdditions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 5px 25px -3px #b4b4b440;
  grid-area: weather-additions;

  p {
    display: flex;
    column-gap: 25px;
    align-items: center;
    margin: 0;

    img {
      width: 30px;
      height: 30px;
    }

    svg {
      width: 50px;
      height: 50px;
      fill: var(--pressure-icon-fill);
    }
  }
}
