.forecastCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 150px;
  width: 100%;
  
  h4 {
    margin: 0 0 7px;
  }

  p {
    margin: 0 0 7px;

    &:last-of-type {
      color: var(--components-text);
      line-height: 1.3;
    }
  }

  img {
    width: 100px;
    height: 100px;
  }
}

.feelings {
  color: var(--components-text);
}